/* FONTS */
/* .poppins-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 2.25rem;
  font-style: normal;
}

.poppins-small-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.25rem;
  font-style: normal;
}

.poppins-small-text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
} */

/* STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* HEADER */
.header{
  display: flex;
  justify-content: center;
  text-align: center;

  font-family: "Poppins", serif;
  font-weight: 600;
  /* same as small header b/c I used an <h1> here and an <h3> there */
  font-size: 1.25rem;
  font-style: normal;
}

/* HORIZONTAL RULE */

/* ARTICAL CARDS */
.article-card {
  display: flex;
  padding: 1rem;
}

.article-card img {
  border-radius: 10px;
  max-width: 100px;
  max-height: 100px;
  margin-right: 1rem;
}

.article-title {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.25rem;
  font-style: normal;
}

.article-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;

  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
}

/* RESPONSIVE STYLES */