/* FONTS */
/* .poppins-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 2.25rem;
  font-style: normal;
}

.poppins-small-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.25rem;
  font-style: normal;
}

.poppins-small-text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
} */

/* STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 200px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;

  font-family: "Poppins", serif;
  font-weight: 600;
  /* same as small header b/c I used an <h1> here and an <h3> there */
  font-size: 1rem;
  font-style: normal;
}

/* HORIZONTAL RULE */

/* ARTICAL CARDS */
.article-card {
  display: flex;
  padding: 1rem;
}

.article-card img {
  border-radius: 10px;
  max-width: 130px;
  max-height: 130px;
  margin-right: 1rem;
}

.article-txt-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.article-title {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.article-date {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
}

/* RESPONSIVE STYLES */

/* at 287px, start stacking images and article titles */
/* @media (max-width: 287px) {
  body {
    background-color: red;
  }
} */

@media (max-width: 400px) {
  body {
    background-color: pink;
  }

  .header {
    font-size: 1rem;
  }

  .article-card {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .article-card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    margin-right: 0;
  }

  .article-txt-section {
    padding: 1rem;
  }

  .article-title {
    font-size: 1.15rem;
  }
}

@media (min-width: 460px) {
  body {
    background-color: purple;
  }

  .article-card img {
    /* border-radius: 10px; */
    /* max-width: 130px; */
    /* max-height: 130px; */
    margin: 0 .75rem;
  }

  .article-title {
    font-size: 1.15rem;
  }

  .article-txt-section {
    padding: 0 .75rem;
  }
}

@media (min-width: 630px) {
  body {
    background-color: lightblue;
  }

  .header {
    font-size: 1.15rem;
    padding: 3rem 2rem;
  }

  .article-card img {
    /* border-radius: 10px; */
    max-width: 160px;
    max-height: 160px;
    margin: .75rem 2rem .75rem 1rem;
  }

  .article-title {
    font-size: 1.25rem;
  }

  .article-txt-section {
    padding-left: 2rem;
  }
}

@media (min-width: 930px) {
  body {
    background-color: green;
    padding: 0 6rem;
  }

  /* .header {
    font-size: 1.15rem;
    padding: 3rem 2rem;
  }

  .article-card img {
    max-width: 160px;
    max-height: 160px;
    margin: .75rem 2rem .75rem 1rem;
  }

  .article-title {
    font-size: 1.25rem;
  }

  .article-txt-section {
    padding-left: 2rem;
  } */
}

@media (min-width: 1200px) {
  body {
    background-color: teal;
    padding: 0 15rem;
  }
}