/* SVGs 
      - there are 4 different options for using SVGs as background images in this CSS file; just search 'option 1', 'option 2', etc. to find the corresponding pieces
*/


/* FONTS */
/* .poppins-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 2.25rem;
  font-style: normal;
}

.poppins-small-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.25rem;
  font-style: normal;
}

.poppins-small-text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
} */

/* STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 200px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;

  font-family: "Poppins", serif;
  font-weight: 600;
  /* same as small header b/c I used an <h1> here and an <h3> there */
  font-size: 1rem;
  font-style: normal;
}

/* HORIZONTAL RULE */

/* this is the class/id you add to the <hr> element */
.slashes-svg {
  /* option 1, option 2, option 3, & option 4 */
  position: relative;
  border-top: 0;
  border: 0;
  height: 20px;
  opacity: 1;


  /* option 4 */
  display: inline-flex;
  content: '';
  width: 100%;
  -webkit-mask: url('../images/Separator.svg') no-repeat 50% 50%;
  mask: url('../images/Seperator.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  /* height: 50%; */
}

/* option 4 */
/* could define multiple of these classes here and change them on the element dynamically */
.icon-red { 
  background-color: red; 
}

.slashes-svg::before {
  /* option 1 - NOT NECESSARY FOR WHAT WE ARE TRYING TO DO; this was if you wanted icons on either side of the horizontal rule line */
  /* content: ''; */
  /* background: grey; */
  /* content: url('../images/Seperator.svg');
  top: 10px;
  position: absolute;
  height: 1px;
  width: 100%;
  display: block; */

  /* option 3 */
  /* background-image: url('../images/Seperator.svg'); */
  /* background-size: 40px 40px; */
  /* display: inline-flex;
  content: '';
  height: 100%;
  width: 100%;
  background: var(--c);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg width="180" height="16" viewBox="0 0 180 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="8.9917" y="0.284912" width="2" height="16" transform="rotate(24 8.9917 0.284912)" fill="%23D9D9D9"/><rect x="17.3267" y="0.284912" width="2" height="16" transform="rotate(24 17.3267 0.284912)" fill="%23D9D9D9"/><rect x="25.6614" y="0.284912" width="2" height="16" transform="rotate(24 25.6614 0.284912)" fill="%23D9D9D9"/><rect x="33.9963" y="0.284912" width="2" height="16" transform="rotate(24 33.9963 0.284912)" fill="%23D9D9D9"/><rect x="42.3313" y="0.284912" width="2" height="16" transform="rotate(24 42.3313 0.284912)" fill="%23D9D9D9"/><rect x="50.666" y="0.284912" width="2" height="16" transform="rotate(24 50.666 0.284912)" fill="%23D9D9D9"/><rect x="59.001" y="0.284912" width="2" height="16" transform="rotate(24 59.001 0.284912)" fill="%23D9D9D9"/><rect x="67.3359" y="0.284912" width="2" height="16" transform="rotate(24 67.3359 0.284912)" fill="%23D9D9D9"/><rect x="75.6707" y="0.284912" width="2" height="16" transform="rotate(24 75.6707 0.284912)" fill="%23D9D9D9"/><rect x="84.0056" y="0.284912" width="2" height="16" transform="rotate(24 84.0056 0.284912)" fill="%23D9D9D9"/><rect x="92.3403" y="0.284912" width="2" height="16" transform="rotate(24 92.3403 0.284912)" fill="%23D9D9D9"/><rect x="100.675" y="0.284912" width="2" height="16" transform="rotate(24 100.675 0.284912)" fill="%23D9D9D9"/><rect x="109.01" y="0.284912" width="2" height="16" transform="rotate(24 109.01 0.284912)" fill="%23D9D9D9"/><rect x="117.345" y="0.284912" width="2" height="16" transform="rotate(24 117.345 0.284912)" fill="%23D9D9D9"/><rect x="125.68" y="0.284912" width="2" height="16" transform="rotate(24 125.68 0.284912)" fill="%23D9D9D9"/><rect x="134.015" y="0.284912" width="2" height="16" transform="rotate(24 134.015 0.284912)" fill="%23D9D9D9"/><rect x="142.35" y="0.284912" width="2" height="16" transform="rotate(24 142.35 0.284912)" fill="%23D9D9D9"/><rect x="150.685" y="0.284912" width="2" height="16" transform="rotate(24 150.685 0.284912)" fill="%23D9D9D9"/><rect x="159.02" y="0.284912" width="2" height="16" transform="rotate(24 159.02 0.284912)" fill="%23D9D9D9"/><rect x="167.354" y="0.284912" width="2" height="16" transform="rotate(24 167.354 0.284912)" fill="%23D9D9D9"/><rect x="175.689" y="0.284912" width="2" height="16" transform="rotate(24 175.689 0.284912)" fill="%23D9D9D9"/></svg>') no-repeat center; */
}

.slashes-svg::after {
  /* option 1 */
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: url('../images/Seperator.svg'); */

  /* NOT NECESSARY FOR OPTION 1 */

  /* text-align: center; */
  /* display: block; */

  /* example of an icon that is input directly to the content property rather than being imported as a static image */

  /* content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--bs-warning)" class="bi bi-hearts" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015m6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343M7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358"/></svg>'); */
  /* background: white; */
  /* background: black; */
  /* width: 30px; */

  /* END EXAMPLE */

  /* option 2 */
  /* display: inline-flex;
  content: '';
  background: url('../images/Seperator.svg') no-repeat center;
  background-size: contain;
  height: 100%;
  width: 100%; */

  /* NOT NECESSARY FOR OPTION 2 */
  
  /* width, then height for background-size, but the height doesn't seem to matter here */
  /* background-size: 200px 40px; */

  /* contain for background-size also seems to work relatively well; specifying a px width will change how zoomed in on the background you are, I think */
  /* background-size: 200px; */

  /* absolute positioning doesn't seem to be necessary either; looks like it brings it to the top of the css stack (on top of other absolute-positioned elements since it is defined later in the file than the other styling given absolute positioning, line 73 'slashes-svg::before') but isn't necessary in terms of positioning */
  /* position: absolute; */

  /* display: inline-block; */
  /* top: -10px; */
  /* height: 100px; */
  /* width: 40px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* text-align: center; */

  /* END NOT NECESSARY FOR OPTION 2 */
}

/* ARTICAL CARDS */
.article-card {
  display: flex;
  padding: 1rem;
}

.article-card img {
  border-radius: 10px;
  max-width: 130px;
  max-height: 130px;
  margin-right: 1rem;
}

.article-txt-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.article-title {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.article-date {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
}

/* RESPONSIVE STYLES */

/* at 287px, start stacking images and article titles */
/* @media (max-width: 287px) {
  body {
    background-color: red;
  }
} */

@media (max-width: 400px) {
  body {
    background-color: pink;
  }

  .header {
    font-size: 1rem;
  }

  .article-card {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .article-card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    margin-right: 0;
  }

  .article-txt-section {
    padding: 1rem;
  }

  .article-title {
    font-size: 1.15rem;
  }
}

@media (min-width: 460px) {
  body {
    background-color: purple;
  }

  .article-card img {
    /* border-radius: 10px; */
    /* max-width: 130px; */
    /* max-height: 130px; */
    margin: 0 .75rem;
  }

  .article-title {
    font-size: 1.15rem;
  }

  .article-txt-section {
    padding: 0 .75rem;
  }
}

@media (min-width: 630px) {
  body {
    background-color: lightblue;
  }

  .header {
    font-size: 1.15rem;
    padding: 3rem 2rem;
  }

  .article-card img {
    /* border-radius: 10px; */
    max-width: 160px;
    max-height: 160px;
    margin: .75rem 2rem .75rem 1rem;
  }

  .article-title {
    font-size: 1.25rem;
  }

  .article-txt-section {
    padding-left: 2rem;
  }
}

@media (min-width: 930px) {
  body {
    background-color: green;
    padding: 0 6rem;
  }

  /* .header {
    font-size: 1.15rem;
    padding: 3rem 2rem;
  }

  .article-card img {
    max-width: 160px;
    max-height: 160px;
    margin: .75rem 2rem .75rem 1rem;
  }

  .article-title {
    font-size: 1.25rem;
  }

  .article-txt-section {
    padding-left: 2rem;
  } */
}

@media (min-width: 1200px) {
  body {
    background-color: teal;
    padding: 0 15rem;
  }
}